---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v1/organizations/shopify/agents?per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-accepted-oauth-scopes:
      - read_agents
      link:
      - <https://api.buildkite.com/v1/organizations/shopify/agents?page=2&per_page=2>;
        rel="next", <https://api.buildkite.com/v1/organizations/shopify/agents?page=16&per_page=2>;
        rel="last"
      x-oauth-scopes:
      - read_user,read_organizations,read_projects,write_projects,read_builds,write_builds,read_build_logs,read_agents,write_agents
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": "60c64470-3930-4297-8a45-786e9bec3ea6",
            "url": "https://api.buildkite.com/v1/organizations/shopify/agents/60c64470-3930-4297-8a45-786e9bec3ea6",
            "web_url": "https://buildkite.com/organizations/shopify/agents/60c64470-3930-4297-8a45-786e9bec3ea6",
            "name": "a2.bk3.ec2.shopify.com",
            "connection_state": "connected",
            "ip_address": "127.0.0.1",
            "access_token": "<<AGENT_ACCESS_TOKEN>>",
            "hostname": "bk3.ec2.shopify.com",
            "user_agent": "buildkite-agent/1.0-beta.22.438 (linux; amd64)",
            "creator": null,
            "created_at": "2015-04-22 21:28:09 UTC",
            "build": null,
            "job": null,
            "last_job_finished_at": "2015-04-23 16:18:21 UTC",
            "priority": 1,
            "meta_data": [
              "docker=1"
            ]
          },
          {
            "id": "819fca5a-9444-43b6-9cfb-dbdd3ca61a9a",
            "url": "https://api.buildkite.com/v1/organizations/shopify/agents/819fca5a-9444-43b6-9cfb-dbdd3ca61a9a",
            "web_url": "https://buildkite.com/organizations/shopify/agents/819fca5a-9444-43b6-9cfb-dbdd3ca61a9a",
            "name": "a5.bk3.ec2.shopify.com",
            "connection_state": "connected",
            "ip_address": "127.0.0.1",
            "access_token": "<<AGENT_ACCESS_TOKEN>>",
            "hostname": "bk3.ec2.shopify.com",
            "user_agent": "buildkite-agent/1.0-beta.22.438 (linux; amd64)",
            "creator": null,
            "created_at": "2015-04-22 21:28:09 UTC",
            "build": null,
            "job": null,
            "last_job_finished_at": "2015-04-23 16:18:27 UTC",
            "priority": 1,
            "meta_data": [
              "docker=1"
            ]
          }
        ]
  recorded_at: Thu, 23 Apr 2015 16:23:12 GMT
recorded_with: VCR 2.9.3
