---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v1/organizations/shopify/projects/shopify-borgified/builds/68
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-accepted-oauth-scopes:
      - read_builds
      x-oauth-scopes:
      - read_user,read_organizations,read_projects,write_projects,read_builds,write_builds,read_build_logs,read_agents,write_agents
    body:
      encoding: UTF-8
      string: |
        {
          "id": "500713d1-8aa3-46d4-a58a-d6a795056c6d",
          "url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-borgified/builds/68",
          "web_url": "https://buildkite.com/shopify/shopify-borgified/builds/68",
          "number": 68,
          "state": "failed",
          "message": "sudo mount -o remount,rw,noatime,nobarrier /dev/md0 /u",
          "commit": "HEAD",
          "branch": "bk-tar-no-compress",
          "env": {
          },
          "created_at": "2015-04-23 16:55:52 UTC",
          "scheduled_at": "2015-04-23 16:55:52 UTC",
          "started_at": "2015-04-23 16:55:58 UTC",
          "finished_at": "2015-04-23 17:03:21 UTC",
          "meta_data": {
            "buildkite:git:branch": "* master",
            "buildkite:git:commit": "commit 98e2f4eeabbfd6c9f29ba23b2a9c74311fd8682a\nAuthor:     Anonymous <anonymous@example.com>\nAuthorDate: Thu Apr 23 11:24:38 2015 -0400\nCommit:     Anonymous <anonymous@example.com>\nCommitDate: Thu Apr 23 11:24:38 2015 -0400\n\n    More semian tickets"
          },
          "project": {
            "id": "5c6894bc-948c-4423-b536-987fd0332912",
            "url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-borgified",
            "web_url": "https://buildkite.com/shopify/shopify-borgified",
            "name": "shopify-borgified",
            "slug": "shopify-borgified",
            "repository": "git@github.com:Shopify/shopify.git",
            "provider": {
              "id": "github",
              "webhook_url": "https://webhook.buildkite.com/deliver/597fb5587a1da3b36b7abb0050e3ad6650b514138991d7053f"
            },
            "builds_url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-borgified/builds",
            "created_at": "2015-04-21 14:44:26 UTC",
            "steps": [
              {
                "type": "script",
                "name": "wait-for-container",
                "command": "buildkite/wait-for-container.sh",
                "artifact_paths": "",
                "branch_configuration": "",
                "env": {
                },
                "timeout_in_minutes": 10,
                "agent_query_rules": [
                  "docker=1"
                ]
              },
              {
                "type": "waiter"
              },
              {
                "type": "script",
                "name": "tests-%n",
                "command": "buildkite/run-tests.rb",
                "artifact_paths": ".artifacts/**/*;/app/logs/**/*",
                "branch_configuration": "",
                "env": {
                },
                "timeout_in_minutes": null,
                "agent_query_rules": [
                  "docker=1"
                ]
              }
            ],
            "env": {
              "RUBY_GC_MALLOC_LIMIT": "128000000",
              "RUBY_GC_OLDMALLOC_LIMIT": "128000000",
              "RUBY_GC_HEAP_GROWTH_FACTOR": "1.25",
              "RUBY_GC_HEAP_GROWTH_MAX_SLOTS": "300000",
              "RUBY_GC_HEAP_INIT_SLOTS": "600000",
              "RUBY_GC_HEAP_FREE_SLOTS": "600000"
            },
            "featured_build": {
              "id": "500713d1-8aa3-46d4-a58a-d6a795056c6d",
              "url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-borgified/builds/68",
              "web_url": "https://buildkite.com/shopify/shopify-borgified/builds/68",
              "number": 68,
              "state": "failed",
              "message": "sudo mount -o remount,rw,noatime,nobarrier /dev/md0 /u",
              "commit": "HEAD",
              "branch": "bk-tar-no-compress",
              "env": {
              },
              "created_at": "2015-04-23 16:55:52 UTC",
              "scheduled_at": "2015-04-23 16:55:52 UTC",
              "started_at": "2015-04-23 16:55:58 UTC",
              "finished_at": "2015-04-23 17:03:21 UTC",
              "meta_data": {
                "buildkite:git:branch": "* master",
                "buildkite:git:commit": "commit 98e2f4eeabbfd6c9f29ba23b2a9c74311fd8682a\nAuthor:     Anonymous <anonymous@example.com>\nAuthorDate: Thu Apr 23 11:24:38 2015 -0400\nCommit:     Anonymous <anonymous@example.com>\nCommitDate: Thu Apr 23 11:24:38 2015 -0400\n\n    More semian tickets"
              }
            },
            "scheduled_builds_count": 0,
            "running_builds_count": 0,
            "scheduled_jobs_count": 0,
            "running_jobs_count": 0
          },
          "jobs": [
            {
              "id": "ea3a25bc-5512-49f4-b9fe-3a37a407cedd",
              "type": "script",
              "name": "wait-for-container",
              "state": "passed",
              "web_url": "https://buildkite.com/shopify/shopify-borgified/builds/68#ea3a25bc-5512-49f4-b9fe-3a37a407cedd",
              "log_url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-borgified/builds/68/jobs/ea3a25bc-5512-49f4-b9fe-3a37a407cedd/log",
              "raw_log_url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-borgified/builds/68/jobs/ea3a25bc-5512-49f4-b9fe-3a37a407cedd/log.txt",
              "script_path": "buildkite/wait-for-container.sh",
              "command": "buildkite/wait-for-container.sh",
              "exit_status": 0,
              "artifact_paths": "",
              "agent": {
                "id": "e664bfb6-4be7-48b3-80da-1aa8d12b6963",
                "url": "https://api.buildkite.com/v1/organizations/shopify/agents/e664bfb6-4be7-48b3-80da-1aa8d12b6963",
                "web_url": "https://buildkite.com/organizations/shopify/agents/e664bfb6-4be7-48b3-80da-1aa8d12b6963",
                "name": "a10.bk1.ec2.shopify.com",
                "connection_state": "connected",
                "ip_address": "127.0.0.1",
                "access_token": "<<AGENT_ACCESS_TOKEN>>",
                "hostname": "bk1.ec2.shopify.com",
                "user_agent": "buildkite-agent/1.0-beta.22.438 (linux; amd64)",
                "creator": null,
                "created_at": "2015-04-09 02:21:30 UTC",
                "build": null,
                "job": null,
                "last_job_finished_at": "2015-04-23 17:02:48 UTC",
                "priority": 3,
                "meta_data": [
                  "docker=1"
                ]
              },
              "created_at": "2015-04-23 16:55:52 UTC",
              "scheduled_at": "2015-04-23 16:55:52 UTC",
              "started_at": "2015-04-23 16:55:58 UTC",
              "finished_at": "2015-04-23 16:56:01 UTC"
            },
            {
              "id": "60d8cf13-7e6a-47cd-91c4-197d39b3f645",
              "type": "waiter"
            },
            {
              "id": "216949ab-[...]
