---
http_interactions:
- request:
    method: post
    uri: https://api.buildkite.com/v2/organizations/shopify/pipelines/tophat/builds
    body:
      encoding: UTF-8
      string: '{"commit":"HEAD","branch":"master","message":"Hello, world!","author":{"name":"Liam
        Neeson","email":"liam@evilbatmanvillans.com"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      x-accepted-oauth-scopes:
      - write_builds
      x-oauth-scopes:
      - read_agents,write_agents,read_artifacts,read_builds,write_builds,read_build_logs,read_organizations,read_pipelines,write_pipelines,read_user
      etag:
      - W/"f775e1bfdf43226ee3c149a51c6e062c"
    body:
      encoding: UTF-8
      string: |
        {
          "id": "b7d23d67-f294-4339-9d2e-05dc6339cedb",
          "url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/tophat/builds/159",
          "web_url": "https://buildkite.com/shopify/tophat/builds/159",
          "number": 159,
          "state": "scheduled",
          "message": "Hello, world!",
          "commit": "HEAD",
          "branch": "master",
          "env": {

          },
          "source": "api",
          "creator": {
            "id": "1cf102e9-4f6e-4588-976a-853c0450bec7",
            "name": "Emil Stolarsky",
            "email": "emil.stolarsky@shopify.com",
            "created_at": "2015-05-11T20:36:02.450Z"
          },
          "created_at": "2015-10-10T01:19:43.371Z",
          "scheduled_at": "2015-10-10T01:19:43.336Z",
          "started_at": null,
          "finished_at": null,
          "meta_data": {

          },
          "pipeline": {
            "id": "0ec920e9-6607-4a82-8f87-d631b802a271",
            "url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/tophat",
            "web_url": "https://buildkite.com/shopify/tophat",
            "name": "tophat",
            "slug": "tophat",
            "repository": "git@github.com:Shopify/shopify.git",
            "provider": {
              "id": "github",
              "webhook_url": "https://webhook.buildkite.com/deliver/77fa31cc7c6efdeb376e054b9590475f532ff58a4368efabef"
            },
            "builds_url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/tophat/builds",
            "created_at": "2015-07-24T02:09:42.341Z",
            "steps": [
              {
                "type": "script",
                "name": "wait-for-container",
                "command": "buildkite/wait-for-container.sh",
                "artifact_paths": "",
                "branch_configuration": "",
                "env": {

                },
                "timeout_in_minutes": 20,
                "agent_query_rules": [
                  "tophat=1"
                ],
                "concurrency": null,
                "parallelism": 1
              },
              {
                "type": "waiter"
              },
              {
                "type": "script",
                "name": "tophat",
                "command": "buildkite/run-tests.rb",
                "artifact_paths": "",
                "branch_configuration": "",
                "env": {
                  "TOPHAT": "1",
                  "TEST_SUITE": "ruby",
                  "OVERRIDE_TOPHAT": "1"
                },
                "timeout_in_minutes": null,
                "agent_query_rules": [
                  "tophat=1"
                ],
                "concurrency": null,
                "parallelism": 1
              }
            ],
            "env": {

            },
            "scheduled_builds_count": 0,
            "running_builds_count": 0,
            "scheduled_jobs_count": 0,
            "running_jobs_count": 0,
            "waiting_jobs_count": 0,
            "featured_build": {
              "id": "76b50f90-4aaa-43be-b931-7b2aa6133fb3",
              "url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/tophat/builds/158",
              "web_url": "https://buildkite.com/shopify/tophat/builds/158",
              "number": 158,
              "state": "canceled",
              "message": "Tophat on Demand",
              "commit": "663258d1bc1759af9776b8ee8d5341255bffefe2",
              "branch": "master",
              "env": {

              },
      [...]
