---
http_interactions:
- request:
    method: post
    uri: https://api.buildkite.com/v1/organizations/shopify/agents
    body:
      encoding: UTF-8
      string: '{"name":"new-agent"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 201 Created
      x-accepted-oauth-scopes:
      - write_agents
      x-oauth-scopes:
      - read_user,read_organizations,read_projects,write_projects,read_builds,write_builds,read_build_logs,read_agents,write_agents
      etag:
      - W/"7d90ae761be6ae5c3714cd8f186e87f2"
    body:
      encoding: UTF-8
      string: |
        {
          "id": "16940c91-f12d-4122-8154-0edf6c0978c2",
          "url": "https://api.buildkite.com/v1/organizations/shopify/agents/16940c91-f12d-4122-8154-0edf6c0978c2",
          "web_url": "https://buildkite.com/organizations/shopify/agents/16940c91-f12d-4122-8154-0edf6c0978c2",
          "name": "new-agent",
          "connection_state": "never_connected",
          "ip_address": null,
          "access_token": "<<AGENT_ACCESS_TOKEN>>",
          "hostname": null,
          "user_agent": null,
          "creator": {
            "id": "b742842f-8ce2-45ed-94db-9ae059055648",
            "name": "Anonymous",
            "email": "anonymous@example.com",
            "created_at": "2015-03-19 18:19:24 UTC"
          },
          "created_at": "2015-04-23 18:57:59 UTC",
          "build": null,
          "job": null,
          "last_job_finished_at": null,
          "priority": null,
          "meta_data": [

          ]
        }
  recorded_at: Thu, 23 Apr 2015 18:57:59 GMT
recorded_with: VCR 2.9.3
