---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-branches/builds/191425/jobs/7372c88b-320d-4a2e-bdf8-6e2fc9259fbe/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '99'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '1'
      x-accepted-oauth-scopes:
      - read_job_env
      x-oauth-scopes:
      - read_builds,write_builds,read_job_env
      etag:
      - W/"9060b9a50d71dc4c361f7f99593f2ed4"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "env": {
            "BUILDBOX_JOB_ID": "7372c88b-320d-4a2e-bdf8-6e2fc9259fbe",
            "BUILDKITE_RETRY_COUNT": "3"
          }
        }
  recorded_at: Wed, 09 Nov 2016 19:30:59 GMT
recorded_with: VCR 2.9.3
