---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-branches/builds/191425/jobs/7372c88b-320d-4a2e-bdf8-6e2fc9259fbe/log
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Basic realm="api.buildkite.com"
    body:
      encoding: UTF-8
      string: |
        {
          "url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-branches/builds/191425/jobs/7372c88b-320d-4a2e-bdf8-6e2fc9259fbe/log",
          "content": "log entry content",
          "size": 17
        }
  recorded_at: Fri, 12 May 2017 21:09:36 GMT
recorded_with: VCR 3.0.3
