---
http_interactions:
- request:
    method: get
    uri: https://api.buildkite.com/v1/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-accepted-oauth-scopes:
      - read_organizations
      link:
      - ''
      x-oauth-scopes:
      - read_user,read_organizations,read_projects,write_projects,read_builds,write_builds,read_build_logs,read_agents,write_agents
    body:
      encoding: UTF-8
      string: |
        [
          {
            "id": "b565fb3e-c660-4bb2-9df7-e9d484d69d38",
            "url": "https://api.buildkite.com/v1/organizations/shopify",
            "web_url": "https://buildkite.com/shopify",
            "name": "Shopify",
            "slug": "shopify",
            "projects_url": "https://api.buildkite.com/v1/organizations/shopify/projects",
            "agents_url": "https://api.buildkite.com/v1/organizations/shopify/agents",
            "emojis_url": "https://api.buildkite.com/v1/organizations/shopify/emojis",
            "created_at": "2015-03-11 13:21:13 UTC"
          }
        ]
  recorded_at: Thu, 23 Apr 2015 15:34:59 GMT
recorded_with: VCR 2.9.3
