---
http_interactions:
- request:
    method: put
    uri: https://api.buildkite.com/v1/organizations/shopify/projects/shopify-borgified/builds/68/rebuild
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-accepted-oauth-scopes:
      - write_builds
      x-oauth-scopes:
      - read_agents,write_agents,read_artifacts,read_builds,write_builds,read_build_logs,read_organizations,read_projects,write_projects,read_user
      etag:
      - W/"48a61ea7074b5d448075acbd79118786"
    body:
      encoding: UTF-8
      string: |
        {
          "id": "822e68f1-b0e0-4f61-950b-f3cabd492b9d",
          "url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-master/builds/5205",
          "web_url": "https://buildkite.com/shopify/shopify-master/builds/5205",
          "number": 5205,
          "state": "scheduled",
          "message": "sudo mount -o remount,rw,noatime,nobarrier /dev/md0 /u",
          "commit": "HEAD",
          "branch": "bk-tar-no-compress",
          "env": {

          },
          "source": "api",
          "creator": {
            "id": "1cf102e9-4f6e-4588-976a-853c0450bec7",
            "name": "Anonymous",
            "email": "anonymous@example.com",
            "created_at": "2015-05-11T20:36:02.450Z"
          },
          "created_at": "2015-08-05T04:29:57.660Z",
          "scheduled_at": "2015-08-05T04:29:57.645Z",
          "started_at": null,
          "finished_at": null,
          "meta_data": {

          },
          "project": {
            "id": "5c6894bc-948c-4423-b536-987fd0332912",
            "url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-master",
            "web_url": "https://buildkite.com/shopify/shopify-master",
            "name": "shopify-master",
            "slug": "shopify-master",
            "repository": "git@github.com:Shopify/shopify.git",
            "provider": {
              "id": "github",
              "webhook_url": "https://webhook.buildkite.com/deliver/597fb5587a1da3b36b7abb0050e3ad6650b514138991d7053f"
            },
            "builds_url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-master/builds",
            "created_at": "2015-04-21T14:44:26.751Z",
            "steps": [
              {
                "type": "script",
                "name": "wait-for-container",
                "command": "buildkite/wait-for-container.sh",
                "artifact_paths": "",
                "branch_configuration": "",
                "env": {

                },
                "timeout_in_minutes": 20,
                "agent_query_rules": [
                  "docker=1",
                  "shopify_ruby_test=1"
                ],
                "concurrency": null,
                "parallelism": 1
              },
              {
                "type": "waiter"
              },
              {
                "type": "script",
                "name": "ruby-tests-%n",
                "command": "buildkite/run-tests.rb",
                "artifact_paths": ".artifacts/**/*;.artifacts/*",
                "branch_configuration": "",
                "env": {
                  "TEST_SUITE": "ruby"
                },
                "timeout_in_minutes": null,
                "agent_query_rules": [
                  "docker=1",
                  "shopify_ruby_test=1"
                ],
                "concurrency": null,
                "parallelism": 80
              },
              {
                "type": "waiter"
              },
              {
                "type": "script",
                "name": "brakeman-notify",
                "command": "buildkite/brakeman-notify.sh",
                "artifact_paths": ".artifacts/**/*",
                "branch_configuration": "",
                "env": {

                },
                "timeout_in_minutes": null,
                "agent_query_rules": [
                  "docker=1",
                  "shopify_ruby_test=1"
                ],
                "concurrency": null,
                "parallelism": 1
              }
            ],
            "env": {
              "RUBY_GC_MALLOC_LIMIT": "128000000",
              "RUBY_GC_OLDMALLOC_LIMIT": "128000000",
              "RUBY_GC_HEAP_GROWTH_FACTOR": "1.25",
              "RUBY_GC_HEAP_GROWTH_MAX_SLOTS": "300000",
              "RUBY_GC_HEAP_INIT_SLOTS": "100000",
              "RUBY_GC_HEAP_FREE_SLOTS": "100000",
              "KEEP_IPC_NAMESPACE": "1",
              "LIBGL_DRI3_DISABLE": "1",
              "CI_ARTIFACTS_PATH": ".artifacts/**/*"
            },
            "scheduled_builds_count": 0,
            "running_builds_count": 0,
            "scheduled_jobs_count": 0,
            "running_jobs_count": 0,
            "waiting_jobs_count": 0,
            "featured_build": {
              "id": "c0e405e8-10b9-4cef-a8d0-ad4188e6c2a6",
              "url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-master/builds/5204",
              "web_url": "https://buildkite.com/shopify/shopify-master/builds/5204",
              "number": 5204,
              "state": "canceled",
              "message": "sudo mount -o remount,rw,noatime,nobarrier /dev/md0 /u",
              "commit": "HEAD",
              "branch": "bk-tar-no-compress",
              "env": {

              },
              "source": "api",
              "creator": {
                "id": "1cf102e9-4f6e-4588-976a-853c0450bec7",
                "name": "Anonymous",
                "email": "anonymous@example.com",
                "created_at": "2015-05-11T20:36:02.450Z"
              },
              "created_at": "2015-08-05T04:15:04.756Z",
              "scheduled_at": "2015-08-05T04:15:04.739Z",
              "started_at": "2015-08-05T04:15:07.000Z",
              "finished_at": "2015-08-05T04:18:17.000Z",
              "meta_data": {

              }
            }
          },
          "jobs": [
            {
              "id": "cc54d4ce-77b7-4a5e-a1c9-61f5fe32d061",
              "type": "script",
              "name": "wait-for-container",
              "state": "scheduled",
              "build_url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-master/builds/5205",
              "web_url": "https://buildkite.com/shopify/shopify-master/builds/5205#cc54d4ce-77b7-4a5e-a1c9-61f5fe32d061",
              "log_url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-master/builds/5205/jobs/cc54d4ce-77b7-4a5e-a1c9-61f5fe32d061/log",
              "raw_log_url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-master/builds/5205/jobs/cc54d4ce-77b7-4a5e-a1c9-61f5fe32d061/log.txt",
              "artifacts_url": "https://api.buildkite.com/v1/organizations/shopify/projects/shopify-master/builds/5205/jobs/cc54d4ce-77b7-4a5e-a1c9-61f5fe32d061/artifacts",
              "script_path": "buildkite/wait-for-container.sh",
              "command": "buildkite/wait-for-container.sh",
              "exit_status": null,
              "artifact_paths": "",
              "agent": null,
              "created_at": "2015-08-05T04:29:57.694Z",
              "scheduled_at": "2015-08-05T04:29:57.680Z",
              "started_at": null,
              "finished_at": null
            },
            {
              "id": "9d5e40a4-60f6-4a8e-a884-ebf3987cea3f",
              "type": "waiter"
            },
            {
              "id": "b0b5beb1-738a-4000-be28-ef68ae88287f",
              "type": "script",
              "name": "ruby-tests-0",
              "state": "waiting"[...]
