---
http_interactions:
- request:
    method: put
    uri: https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-branches/builds/191425/jobs/7372c88b-320d-4a2e-bdf8-6e2fc9259fbe/retry
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<ACCESS_TOKEN>>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      rate-limit-remaining:
      - '99'
      rate-limit-limit:
      - '100'
      rate-limit-reset:
      - '56'
      x-accepted-oauth-scopes:
      - write_builds
      x-oauth-scopes:
      - read_builds,write_builds,read_job_env
      etag:
      - W/"9ce162cd51f5e7e66c6caa7812551a68"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id": "7372c88b-320d-4a2e-bdf8-6e2fc9259fbe",
          "type": "script",
          "name": "Lint Ruby",
          "agent_query_rules": [
            "docker=1",
            "env=production"
          ],
          "state": "scheduled",
          "build_url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-branches/builds/191425",
          "web_url": "https://buildkite.com/shopify/shopify-branches/builds/191425#7372c88b-320d-4a2e-bdf8-6e2fc9259fbe",
          "log_url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-branches/builds/191425/jobs/7372c88b-320d-4a2e-bdf8-6e2fc9259fbe/log",
          "raw_log_url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-branches/builds/191425/jobs/7372c88b-320d-4a2e-bdf8-6e2fc9259fbe/log.txt",
          "artifacts_url": "https://api.buildkite.com/v2/organizations/shopify/pipelines/shopify-branches/builds/191425/jobs/7372c88b-320d-4a2e-bdf8-6e2fc9259fbe/artifacts",
          "command": "run-in-container --skip-initialization bin/ci/rubocop",
          "exit_status": null,
          "artifact_paths": null,
          "agent": null,
          "created_at": "2016-11-09T15:35:42.856Z",
          "scheduled_at": "2016-11-09T15:35:36.807Z",
          "started_at": null,
          "finished_at": null
        }
  recorded_at: Wed, 09 Nov 2016 19:14:05 GMT
recorded_with: VCR 2.9.3
